<div id="wrapper-pause" *ngIf="shouldShowPause()" [@fade] (click)="setTimerActivation(false)">
  <div id="wrapper-pause-action">
    <p>{{pauseState}}</p>
    <button mat-fab id="btn-pause">
      <mat-icon>{{getStartPauseButtonIcon()}}</mat-icon>
    </button>
  </div>
</div>
<div id="wrapper" (mousemove)="showPause()">
  <div class="container">
    <h4>{{timer.name}}</h4>
    <h3>{{intervalName}}</h3>
    <h2 *ngIf="displayNextIntervalLabel()">Next Interval: {{nextIntervalName}}</h2>
    <h1>{{getTime()}}</h1>
  </div>

  <app-footer></app-footer>
</div>