@import '../../../../styles/color'
@import '../../../../styles/integer'

h1
  font-size: 15em

h2
  font-size: 3em
  color: $color1

h3
  font-size: 3em

h4
  padding: $margin-normal

img
  margin: $margin-normal
  width: $size-icon-interval

.col, .col-sm, .col-sm-12, .col-sm-auto
  padding: 0

.container
  text-align: center

#body
  margin: 0
  overflow: unset
  height: 100vh  

#wrapper-controls
  position: absolute
  right: $margin-normal
  bottom: $margin-normal
  
  mat-icon
    color: $color-button-transparent

    &:hover
      color: $color-button-opaque
  
#btn-pause
  color: $color-background-timer-run
  background-color: rgba(255, 255, 255, 0.9)
  width: 100px
  height: 100px

#wrapper-title-intervals
  margin: 0
  padding: 0 $margin-normal $margin-xxx-small $margin-normal

  h5
    margin-bottom: 6px

  span
    font-size: $font-size-large
  
#wrapper-intervals
  overflow: auto
  border-top: 1px solid $color-grey-light
  color: $color4

#wrapper-duration
  margin: 0
  padding: $margin-normal
  background-color: $color4
  color: $color-text
  font-size: $font-size-x-large

  #title
    font-size: .5em
    margin-bottom: 5px
    letter-spacing: 1px

#wrapper-pause
  position: fixed
  top: 0
  height: 100%
  width: 100%
  text-align: center
  background-color: rgba(0, 0, 0, 0.45)
    
  #wrapper-pause-action
    width: 100%
    position: absolute
    margin: 0 auto
    top: 42%

    p
      margin-bottom: $margin-small
      letter-spacing: 1px
      text-shadow: 1px 1px $color-grey
    
#wrapper
  // height: 100vh
  background-color: $color-background-timer-run

@media (max-width: 767px)
  #wrapper-intervals, #wrapper
    height: 50vh