@import '../../../../styles/color'
@import '../../../../styles/integer'

mat-drawer
  max-width: 400px
   
h1
  font-size: 15em

h2
  font-size: 3em
  color: $color1

h3
  font-size: 3em

h4
  padding: $margin-normal

mat-drawer
  color: $color4

img
  margin: $margin-normal
  width: $size-icon-interval

.container
  text-align: center

#btn-menu
  margin-left: $margin-normal
  background: transparent
  color: $color-text
  
#btn-pause
  color: $color-background-timer-run
  background-color: rgba(255, 255, 255, 0.9)
  width: 100px
  height: 100px

#wrapper-pause
  position: fixed
  height: 100vh
  width: 100%
  text-align: center
  background-color: rgba(0, 0, 0, 0.45)

  #wrapper-pause-action
    width: 100%
    position: absolute
    margin: 0 auto
    top: 42%

    p
      letter-spacing: .1em
    
#wrapper
  height: 100vh
  background-color: $color-background-timer-run