<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="align-self-center">
        <div [@titleAnimation]="slideTitle">
          <h3>WELCOME TO</h3>
          <img alt="Interval Logo" src="../../../assets/images/interval_icon_welcome.svg" />
        </div>

        <button mat-raised-button [ngClass]="getButtonClass()" (click)="navigateToCreateTimer()">
          <mat-icon>timer</mat-icon>CREATE TIMER
        </button>

        <p id="terms">By using Interval, I agree to the <a (click)="openTerms()">Terms of Use</a>.</p>

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
