@import '../../../styles/color'
@import '../../../styles/integer'

footer
  width: 100%
  text-align: center
  color: $color-grey-light
  padding-top: $margin-small
  padding-bottom: $margin-small
  font-size: $font-size-x-small

@media (max-width: $screen-size-medium)
  footer
    padding-top: $margin-x-small
    padding-bottom: $margin-x-small
    font-size: $font-size-xx-small