/**
  This file is the file that describes colors for the application.
 */

// -----------------------------------
// ----------- Main colors -----------
// -----------------------------------
$color1-dark: #2b8dc5
$color1: #309DDB
$color2: #F6F6FF
$color3: #647082
$color4: #414042
$color5: #6BF27A

// -----------------------------------
// ---------- Other colors -----------
// -----------------------------------
$color-grey: #737373
$color-grey-light: #CCCCCC

$color-disabled: #9E9E9E

$color-error: #F44336
$color-error-dark: #B70000

$color-button: #FFF
$color-card: #FFF
$color-card-text: $color4
$color-text: #FFF
$color-background-timer-run: $color3
$color-background: #F5F5F5
$color-list-item-hover: #E0E0E0