/**
  This file is the file that describes integers for the application.
 */
$margin-large: 40px
$margin-medium: 30px
$margin-normal: 20px
$margin-small: 17px
$margin-x-small: 10px
$margin-xx-small: 6px
$margin-xxx-small: 5px
$margin-xxxx-small: 2px

$font-size-xx-large: 40px
$font-size-x-large: 30px
$font-size-large: 27px
$font-size-medium: 20px
$font-size-normal: 16px
$font-size-normal-small: 14px
$font-size-small: 12px
$font-size-x-small: 10px
$font-size-xx-small: 9px

$button-radius: 2px

$size-icon-interval: 130px
$size-icon-interval-small: 100px

$duration-transition: 500ms

$screen-size-medium: 767px