@import '../../../../styles/color'
@import '../../../../styles/integer'
  
mat-card
  margin-top: $margin-x-small

  &.inactive
    background-color: $color-background
    box-shadow: none
    border: 1px solid $color-grey

.menu
  float: right

.duration
  border-width: 2px
  border-bottom-width: 2px
  border-bottom-color: $color1
  border-bottom-style: solid

  > div
    display: inline-block

    &.inactive span
      color: $color-grey-light
    
    span 
      display: inline-block

  input
    font-size: $font-size-medium

  .middle
    margin-right: $margin-normal
  
  p
    margin: 0