<mat-card [ngClass]="getClass()">
  <mat-form-field>
    <input matInput placeholder="Interval name" value="{{interval.name}}" [(ngModel)]="interval.name" (keyup)="onChange()">
  </mat-form-field>
  <input type='text' mask="00:00:00" [(ngModel)]="duration" (keyup)="onChangeDuration(this)" style="direction:RTL;">

  <button *ngIf="hasValues()" mat-icon-button class="menu" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
</mat-card>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="duplicate()"><mat-icon>file_copy</mat-icon>Duplicate</button>
  <button mat-menu-item (click)="remove()"><mat-icon>close</mat-icon>Remove</button>
</mat-menu>