<mat-card [ngClass]="getClass()">
  <mat-form-field>
    <input matInput
           placeholder="Interval name"
           value="{{interval.name}}"
           [(ngModel)]="interval.name"
           (keyup)="onChange()">
  </mat-form-field>

  <div class="duration">
    <input matInput
           type="text"
           value="{{hours}}"
           [(ngModel)]="hours"
           (keydown)="isNumber($event)"
           (keyup)="onChangeDuration($event)" >
    <p class="middle">h</p>

    <input matInput
           type="text"
           value="{{minutes}}"
           [(ngModel)]="minutes"
           (keydown)="isNumber($event)"
           (keyup)="onChangeDuration($event)" >
    <p class="middle">m</p>

    <input matInput
           type="text"
           value="{{seconds}}"
           [(ngModel)]="seconds"
           (keydown)="isNumber($event)"
           (keyup)="onChangeDuration($event)">
    <p>s</p>

    <button *ngIf="hasValues()" mat-icon-button class="menu" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
  </div>
</mat-card>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="duplicate()"><mat-icon>file_copy</mat-icon>Duplicate</button>
  <button mat-menu-item (click)="remove()"><mat-icon>close</mat-icon>Remove</button>
</mat-menu>