<div class="container">
  <div>
    <img alt="Interval Logo" src="../../assets/images/interval_icon_color_with.svg" />
  </div>

  <p id="header">TERMS OF USE</p>
  <p id="updated">UPDATED DATE<br />August 3, 2018</p>
  <ol>
    <li>
      I, the user, hereby referred to as "The User," agree to the Terms of Use for Interval, hereby referred to as "The App."
    </li>
    <li>
      The User agrees that The user is using The App from The User's own free will.
    </li>
    <li>
      The User agrees that the use of The App is completely voluntary and The User is not being forced to use The App.
    </li>
    <li>
      The User agrees that the age requirement to use The App is 18 years old or older. The User agrees that if The User is not of the age requirement for The App, The User will not use The App.
    </li>
    <li>
      The User agrees to consult a physician before starting and during the use of The App.
    </li>
    <li>
      The User agrees to take full responsibility for any injury caused before, during, or after use of The App. The User agrees that any injury caused before, during, or after use of The App is of no fault of The App, creators, or developers of the App. The User also agrees that if The User feels any pain during The User's use of The App, The User will stop use of The App immediately until The User consults a physician and the physician consents that use of The App is allowed again.
    </li>
  </ol>
</div>
