
<div id="body" class="layout column">
  <header class="mat-elevation-z2">
    <img alt="Interval Logo" src="../../../assets/images/interval_icon_color_with.svg" />
  </header>
  <div class="row match-parent">
    <div class="col">
        <div class="row">
          <div class="col">
            <div class="layout column">
              <h1>Create a timer</h1>
              <div class="title">
                <mat-icon>access_time</mat-icon>
                <h3>INTERVALS</h3>
              </div>
              <hr>
              <div *ngIf="hasIntervals()" id="wrapper-intervals" class="match-parent">
                <ul dragula="GROUP_INTERVALS" [(dragulaModel)]="timer.intervals">
                  <li *ngFor="let interval of timer.intervals; let i = index">
                    <app-interval-create [index]="i"
                                          [interval]="interval"
                                          [color]="color.getIntervalColor(interval.name)"
                                          (updateInterval)="updateInterval($event)"
                                          (duplicateInterval)="duplicateInterval($event)"
                                          (removeInterval)="removeInterval($event)"></app-interval-create>
                  </li>
                </ul>
              </div>
              <div id="wrapper-duration" class="align-items-end">
                <app-footer></app-footer>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div id="overview" class="col-md-auto mat-elevation-z2">
        <div class="title">
          <mat-icon>description</mat-icon>
          <h3>OVERVIEW</h3>
        </div>

        <div id="description">
          <h3 id="title-intervals">TOTAL INTERVALS</h3>
          <p>{{getTotalIntervals()}}<p>
  
          <h3 id="title-duration">TIMER DURATION</h3>
          <app-clock-display [time]="timer.totalDuration"></app-clock-display>
        </div>
      
        <div id="wrapper-name">
          <mat-form-field>
          <mat-label>TIMER NAME</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      [(ngModel)]="timer.name"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </div>

        <button mat-button [disabled]="!isValidTimer()" (click)="start()" color="primary">
          START
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div> 

    <!-- <mat-card> 
      <div class="title-secondary">
        <mat-icon>timelapse</mat-icon>
        <h3>EXERCISE DURATION</h3>
        <mat-form-field>
          <input matInput placeholder="How long would you like to exercise?" type="date">
        </mat-form-field>
      </div>
    </mat-card> -->

  </div>
  
</div>