@import '../../../../styles/color'
@import '../../../../styles/integer'

header
  margin-left: -15px
  margin-right: -15px
  background-color: #fff

  img
    width: $size-icon-interval
    margin: $margin-medium

h1
  margin-top: $margin-normal
  margin-bottom: $margin-normal
  color: $color4

button
  float: right
  margin: $margin-small
  padding-top: 2px



.row 
  margin: 0
  height: 100%

.title
  color: $color-grey
  margin-bottom: $margin-small

  h3, mat-icon
    vertical-align: bottom

  h3
    display: inline-block
    margin-left: $margin-x-small
    margin-bottom: -2px

#body
  height: 100vh

#wrapper
  overflow: auto

#overview
  color: $color-grey
  background-color: #fff
  padding: 0

  mat-form-field
    width: 100%

  textarea
    overflow: hidden

  .title
    margin: $margin-normal

  #description
    margin: $margin-normal
    font-size: $font-size-x-large

    h3
      font-size: 1em

    p
      margin-bottom: -6px
      font-size: .5em

  #title-intervals
    margin-top: $margin-normal

  #wrapper-name
    margin-top: -10px
    border-style: solid
    border-width: 1px 0
    border-color: $color-grey-light
    padding-top: $margin-normal
    padding-right: $margin-normal
    padding-bottom: 0
    padding-left: $margin-normal

  #title-duration, #title-name
    margin-top: $margin-x-small

  #title-intervals, #title-duration
    margin-bottom: -$margin-x-small

#btn-share
  padding-left: 9px

  mat-icon
    margin-top: -3px
    margin-right: 3px

#btn-start
  padding-right: 9px

  mat-icon
    margin-top: -3px

@media (min-width: 360px) and (orientation: landscape)
  .col-md-3
    flex: 0 0 25%
    max-width: 25%
    
  .col-md-9
    flex: 0 0 75%
    max-width: 75%

@media (max-width: $screen-size-medium), (max-width: 813px) and (max-height: 376px), (max-width: 824px) and (max-height: 412px)
  img
    margin: $margin-small
    width: $size-icon-interval-small

@media (max-width: $screen-size-medium) and (orientation: portrait)
  #wrapper-intervals, #wrapper
    height: 50vh

  h4
    text-align: center