<header class="mat-elevation-z2">
  <img alt="Interval Logo" src="../../../assets/images/interval_icon_color_with.svg" />
</header>
<div id="body">
  <div class="container">
    <div class="row">
      <h1>Create a timer</h1>

      <mat-card> 
        <div class="col-xs-12 layout">
          <mat-icon>timer</mat-icon>
          <input class="match-parent" placeholder="New Timer" [(ngModel)]="timer.name" />
        </div>

        <!-- <div class="title-secondary">
          <mat-icon>timelapse</mat-icon>
          <h3>EXERCISE DURATION</h3>
          <mat-form-field>
            <input matInput placeholder="How long would you like to exercise?" type="date">
          </mat-form-field>
        </div> -->
      </mat-card>
    </div>

    <div class="title-secondary">
      <mat-icon>access_time</mat-icon>
      <h3>INTERVALS</h3>
    </div>

    <div *ngIf="hasIntervals()">
      <div *ngFor="let key of objectKeys(timer.intervals)">
        <app-interval [index]="key"
                      [interval]="timer.intervals[key]"
                      (updateInterval)="updateIntervals($event)"
                      (duplicateInterval)="duplicateInterval($event)"
                      (removeInterval)="removeInterval($event)"></app-interval>
      </div>
    </div>

    <button mat-button [disabled]="!hasIntervals()" (click)="start()">START
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <app-footer></app-footer>
</div>